@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1f;
  box-shadow: 1px 1px 5px #39393a;
}

::-webkit-scrollbar-thumb {
  background: #e0580c;
}

.input {
  width: 100%;
  padding: 6px;
  border: 2px solid #dedede;
  border-radius: 6px;
  outline: none;
  font-weight: normal;
}

.input:focus {
  border: 2px solid #e0580c;
}

label{
  font-weight: 500;
}

.sigup-bg{
  background-image: url("/img/signup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.sigin-bg{
  background-image: url("/img/signin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/**react calender styling**/
.react-calendar__tile--now {
  background-color: #e0580c !important;
  border-radius: 100% !important;
  color: #fff !important;
}

.react-calendar__tile--now:hover {
  background-color: #d44e00 !important;
}

.react-calendar__tile:hover {
  border-radius: 100% !important;
}

.react-calendar__tile--selected {
  border-radius: 100% !important;
  background-color: #fceee7 !important;
  color: #d65f1b !important;
}

.react-calendar__tile:focus {
  border-radius: 100% !important;
  background-color: #fceee7 !important;
  color: #d65f1b !important;
}
